.list-buttons {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.list-btn {
  border: none;
  height: 26px;
  width: 30px;
  margin-left: 15px;
  background-color: transparent;
}

.list-btn-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.list-btn-icon:active {
  scale: 0.7;
}
