:root {
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  --font-stack-text: "Roboto", sans-serif;
  --font-stack-project-name: "Montserrat", sans-serif;

  --black: #000000;
  --black-medium: #636264;
  --black-light: #929292;
  --blue: #3D8EDA;
  --datepicker-gray: #DEDEDE;
  --background-datepicker: #EBEBEB;

  --background-white: #FFFFFF;
  --background-gray-light: #FAFAFA;
  --background-transparent: rgba(255, 255, 255, 0.6);


  --box-shadow-color: rgba(0, 0, 0, 0.12);

  --letter-spacing-small: -0.5px;
  --letter-spacing-normal: -0.2px;
}
